.owner-list {
    width: calc(100% - 10vw);
    margin: 0 auto;
    margin-top: 80px;
}
@media screen and (min-width: 1200px){
    .owner-list {
        width: calc(100% - 40px);
    }
}

@media screen and (max-width: 768px) {
    .owner-list {
        flex-direction: column;
    }
}

/* オーナー登録フォーム */
.owner-list__form {
    width: 240px;
    border-radius: 4px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.4);
    background-color: #387ADF;
    margin-right: 30px;
}

.owner-list__form--ttl {
    font-size: 24px;
    margin: .5em 0;
    color: #fff;
    text-align: center;
}

.owner-list__form--input-name,
.owner-list__form--input {
    height: 36px;
    background-color: rgb(238, 238, 238);
    width: 90%;
    margin: 0 auto;
    border-radius: 4px;
}

.owner-list__form--input-name {
    margin-bottom: 20px;
}

.owner-list__form--input-name img,
.owner-list__form--input img,
.owner-list__form--input input,
.owner-list__form--input-name input {
    margin: 0 4px;
    padding-left: 8px;
    background-color: rgb(238, 238, 238);
}

.owner-list__form--input-name img,
.owner-list__form--input img {
    height: 90%;
    width: auto;
}

.owner-list__form--input-name input,
.owner-list__form--input input {
    font-size: 18px;
    width: 80%;
    border: none;
    outline: none;
    cursor: pointer;
}

.owner-list__form__btn--submit {
    width: 100%;
    height: 36px;
    border: none;
    border-radius: 0 0 4px 4px;
    background-color: rgb(100,149,237);
    color: #F2F2F2;
    cursor: pointer;
    font-size: 16px;
}

@media screen and (max-width: 768px) {
    .owner-list__form {
        margin-bottom: 2rem;
        margin-right: 0;
    }
}

/* オーナー一覧 */
.owner-list__table {
    width: 430px;
}

.owner-list__table--inner {
    width: 100%;
}

.owner-list__ttl {
    font-size: 36px;
    text-align: center;
    margin-bottom: 1rem;
    width: 100%;
    padding: .5rem 0;
    border-radius: 30px;
    background-color: #387ADF;
    color: #fff;
}

.owner-list__table--header {
    font-size: 24px;
    padding-bottom: 1rem;
    border-bottom: 1px solid #000;
}

.owner-list__table--content {
    font-size: 16px;
    padding: .5rem 0;
    border-bottom: 1px solid #000;
}

.owner-list__table--content:nth-child(2) {
    padding-left: 1rem;
    padding-right: 1rem;
}

.owner-list__table--button-link {
    color: black;
    padding: 4px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.4);
    text-decoration: none;
    font-size: 14px;
}

@media screen and (max-width: 440px) {
    .owner-list__table {
        width: 360px;
    }

    .owner-list__ttl {
        font-size: 28px;
    }

    .owner-list__table--header {
        font-size: 16px;
        padding-bottom: .5rem;
    }

    .owner-list__table--content {
        font-size: 12px;
        padding: .5rem 0;
    }

    .owner-list__table--content:nth-child(2) {
        padding-left: .75rem;
        padding-right: .75rem;
    }
}
