.sendMail__grid {
    max-width: 1230px;
    display: grid;
    grid-template-rows: 80px 1fr;
}

.sendMail {
    grid-row: 2/3;
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 320px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.4);
    border-radius: 4px;
}

.sendMail__ttl,
.sendMail__form {
    width: 90%;
    margin: 0 auto;
}

.sendMail__ttl {
    margin-top: 20px;
}

.sendMail__form--ttl {
    display: flex;
    align-items: center;
    font-size: 16px;
    border-bottom: solid 2px black;
    margin: 10px;
}

.sendMail__form--ttl label {
    padding: 0 10px;
}

.sendMail__form--ttl input {
    font-size: 16px;
    outline: none;
    border: none;
}

.sendMail__form--content {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.sendMail__form--content-flex {
    display: flex;
    justify-content: space-between;
}

.sendMail__form--content-error-message {
    font-size: 14px;
    color: tomato;
}

.sendMail__form--content textarea {
    border: solid 2px black;
    font-size: 16px;
}

.sendMail__form--flex {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.sendMail__form--btn-submit {
    background-color: #387ADF;
    color: rgb(255, 255, 255);
    padding: 4px 8px;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    font-size: 16px;
}

.sendMail__form--message {
    font-size: 14px;
}
