.reservation-history {
    width: calc(100% - 10vw);
    margin: 0 auto;
    margin-top: 80px;
    margin-bottom: 100px;
}

@media screen and (min-width: 1200px){
    .reservation-history {
        width: calc(100% - 40px);
    }
}

.reservation-history__shop-name {
    font-size: 32px;
    margin-bottom: 8px;
}

.reservation-history__back-link {
    color: black;
    padding: 4px;
    border-radius: 4px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.4);
    font-size: 24px;
    margin-right: 8px;
}

.reservation-history__ttl {
    font-size: 20px;
    margin-bottom: 8px;
}

.reservation-history__ttl--link {
    padding: 4px;
    border-radius: 4px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.4);
    color: black;
    margin-right: 8px;
    text-decoration: none;
}

.historyDetail__card {
    width: 300px;
    height: 200px;
    background-color: #387ADF;
    color: rgb(255, 255, 255);
    margin-bottom: 1em;
    border-radius: 6px;
}

.historyDetail__card--header {
    font-size: 18px;
    margin: 8px 5%;
}

.historyDetail__card-label {
    width: 40%;
    margin-left: 5%;
    margin-bottom: 8px;
}

.historyDetail__card-text {
    width: 50%;
    margin-right: 5%;
    text-align: right;
}

.historyDetail__card--form {
    width: 90%;
    box-sizing: border-box;
    margin-left: 5%;
    border-radius: 4px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.4);
    background-color: rgb(255, 255, 255);
    text-decoration: none;
    color: black;
    font-size: 14px;
    margin-top: 8px;
}

.historyDetail__card--form-status {
    padding: 8px 0;
    margin-left: 5%;
}

.historyDetail__card--btn {
    border: none;
    background-color: #387ADF;
    color: rgb(255, 255, 255);
    border-radius: 4px;
    cursor: pointer;
    padding: 4px 8px;
    margin-right: 2px;
}

.historyDetail__card-input {
    width: 60%;
    font-size: 16px;
    margin: 8px 0;
    text-align: right;
    border: none;
    border-bottom: 1px solid #000;
}
