.pastHistory {
    width: calc(100% - 10vw);
    margin: 0 auto;
    margin-top: 80px;
    margin-bottom: 100px;
}

@media screen and (min-width: 1200px){
    .pastHistory {
        width: calc(100% - 40px);
    }
}

.pastHistory__ttl {
    margin-bottom: 1em;
}

.pastHistory__ttl--link {
    color: black;
    padding: 4px;
    border-radius: 4px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.4);
    margin-right: 10px;
    font-size: 24px;
}

.pastHistory__ttl--link:hover {
    background-color: #387ADF;
    color: #fff;
}

.pastHistory__ttl--shop-name {
    font-size: 32px;
}

.pastHistoryDetail__card {
    width: 300px;
    height: 270px;
    background-color: #387ADF;
    color: rgb(255, 255, 255);
    border-radius: 4px;
}

.pastHistoryDetail__ttl {
    width: 230px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    font-size: 18px;
}

.pastHistoryDetail__card--ttl {
    width: 90%;
    font-size: 18px;
    margin: 8px 0;
    padding-left: 5%;
}

.pastHistoryDetail__card--label {
    width: 40%;
    margin-left: 5%;
    margin-bottom: 8px;
}

.pastHistoryDetail__card--text {
    width: 50%;
    margin-right: 5%;
}

.pastHistoryDetail__card--comment-label {
    display: block;
    margin-bottom: 8px;
    padding-left: 5%;
}

.pastHistoryDetail__card--comment {
    width: 90%;
    height: 100px;
    box-sizing: border-box;
    margin-left: 5%;
    padding: 4px;
    border: none;
    border-radius: 4px;
}
