body {
    background-color: rgb(238, 238, 238);
    width: 100vw;
    max-width: 1200px;
    margin: 0 auto;
    font-family: "Helvetica Neue", Helvetica, Arial, Verdana, Roboto, "游ゴシック",
    "Yu Gothic", "游ゴシック体", "YuGothic", "ヒラギノ角ゴ Pro W3",
    "Hiragino Kaku Gothic Pro", "Meiryo UI", "メイリオ", Meiryo,
    "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

input, textarea, select:focus {
    outline: none;
}

.flex{
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.justify-between {
    justify-content: space-between;
}

.justify-center {
    justify-content: center;
}

.align-items-center {
    align-items: center;
}

.wrap {
    flex-wrap: wrap;
    gap: 16px;
}

.flash_message {
    font-size: 18px;
    font-weight: 500;
    color: tomato;
}

.error-message {
    height: 20px;
    font-size: 12px;
    color: tomato;
}

.nav {
    font-size: 32px;
    color: #387ADF;
    position: fixed;
    top: 0;
    left: calc(50% - 45vw);
    z-index: 999;
}

.nav__content {
    display: flex;
    position: absolute;
    top: 24px;
    align-items: center;
}

.nav__ttl {
    margin-left: 16px;
}

#open,
#close {
    background-color: #387ADF;
    color: #F1F1F1;
    padding: 4px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.4);
}

#close {
    display: inline;
    position: absolute;
    top: 24px;
    left: calc(50% - 45vw);
}

@media screen and (min-width: 1200px){
    .nav,
    #close {
        left: calc(50% - 580px);
    }
}

#modal {
    height: 600px;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    transition: transform 0.2s;
    background-color: rgb(238, 238, 238);
    z-index: 30;
}

#mask {
    background-color: rgb(238, 238, 238);
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 20;
}

#modal.hidden {
    transform: translate(0, -600px);
    transition: transform 0s;
}

#mask.hidden {
    display: none;
}

.modal__nav {
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modal__nav--list {
    text-align: center;
    height: 200px;
}

.modal__nav--item a {
    color: #387ADF;
    text-decoration: none;
    margin: 32px;
    display: flex;
    flex-direction: column;
    font-weight: bold;
}

.modal__nav--button {
    border: none;
    color: #387ADF;
    font-weight: bold;
    font-size: 32px;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .nav__ttl {
        margin-left: 10px;
    }

    .nav,
    .modal__nav--button {
        font-size: 26px;
    }
}

@media screen and (max-width: 480px) {

    .nav__ttl {
        margin-left: 4px;
        font-size: 22px;
    }

    #open,
    #close {
        font-size: 16px;
    }

    .modal__nav--item,
    .modal__nav--button {
        font-size: 20px;
    }

    #modal {
        height: 400px;
    }

    #modal.hidden {
        transform: translate(0, -400px);
    }
}
