.detail {
    position: absolute;
    top: 100px;
    left: calc(50% - 45vw);
    width: 42%;
}

@media screen and (min-width: 1200px){
    .detail {
        left: calc(50% - 580px);
        width: 560px;
    }
}

.detail__ttl--link {
    color: black;
    padding: 4px;
    border-radius: 4px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.4);
    margin-right: 10px;
    font-size: 24px;
}

.detail__ttl--h2 {
    font-size: 32px;
}

.detail__img {
    margin: 16px 0 32px;
}

.detail__tag {
    margin-bottom: 32px;
}

/* 口コミ画面用 */
.review-detail__ttl {
    width: 100%;
    text-align: center;
    background-color: #387ADF;
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    padding: 8px 0;
    margin: 1rem 0;
}

.review-detail__form {
    padding: 1rem 0;
    border-top: 2px solid #CCC;
    border-bottom: 2px solid #CCC;
}

.review-detail__image {
    width: 120px;
    height: 60px;
    position: relative;
}

.review-detail__image label {
    top: 40%;
    left: 25%;
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: pointer;
    z-index: 10;
}

.review-detail__image img {
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 20;
}

.review-detail__image input {
    opacity: 0;
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: pointer;
    z-index: 30;
}

.review-detail__btn-box {
    width: 100%;
    font-size: 14px;
    text-align: right;
    margin-bottom: 8px;
}

.review-detail__edit-btn {
    display: inline;
    margin-top: 8px;
    color: #000;
    margin-right: 1rem;
    border: none;
    font-family: inherit;
    border-bottom: 1px solid #000;
    cursor: pointer;
}

.review-detail__delete-btn {
    display: inline;
    margin-top: 8px;
    color: #000;
    text-decoration: none;
    padding-bottom: 2px;
    font-family: inherit;
    border-bottom: 1px solid #000;
}

.review-detail__stars {
    margin: 4px 0;
}

.star {
    font-size: 28px;
    color:rgb(215,215,215);
    cursor: pointer;
}

.star-blue {
    color:#387ADF;
    font-size: 28px;
    cursor: pointer;
}

.review-detail__comment {
    width: 100%;
    height: 60px;
    border: none;
    background: none;
}

.review-detail__cards {
    margin: 1rem 0;
    border-bottom: 2px solid #CCC;
}

/* 予約フォーム */
.reservation-form {
    height: 500px;
    background-color: rgb(48, 93, 255);
    border-radius: 6px;
    position: fixed;
    top: 2rem;
    right: calc(50% - 45vw);
    width: 42%;
    z-index: 1;
}

@media screen and (min-width: 1200px){
    .reservation-form {
        right: calc(50% - 580px);
        width: 560px;
    }
}

.reservation-form__content {
    margin: 24px 32px 0;
    height: 90%;
}

.reservation-form__ttl {
    font-size: 32px;
    color: rgb(255, 255, 255);
    margin-bottom: 24px;
}

.reservation-form__input,
.reservation-form__select {
    height: 60px;
}

.reservation-form__input input,
.reservation-form__select select {
    font-size: 16px;
    padding: 8px 16px;
    appearance: none;
    outline: none;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-family: 'Franklin Gothic Medium';
}

.reservation-form__input input {
    width: 200px;
    font-weight: 600;
}

.reservation-form__select {
    position: relative;
}

.reservation-form__select select {
    width: 230px;
}

.reservation-form__select::after {
    content: "▼";
    position: absolute;
    left: 198px;
    top: 10px;
    pointer-events: none;
    color: #000;
    font-size: 16px;
}

.reservation-data {
    height: 160px;
    width: 100%;
    margin: 0 auto;
    background-color: rgb(77, 127, 255);
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    border-radius: 6px;
}

.reservation-data__table {
    width: calc(100% - 5vw);
    height: 70%;
    margin: 0 auto;
}

.reservation-data__table--inner {
    height: 25%;
    display: flex;
    align-items: center;
}

.reservation-data__table--header,
.reservation-data__table--text {
    text-align: left;
}

.reservation-data__table--header {
    width: 100px;
}

.reservation-form__submit-btn {
    width: 100%;
    border: none;
    padding: 16px 0;
    font-size: 16px;
    background-color: rgb(5, 56, 255);
    color: rgb(255, 255, 255);
    border-radius: 0 0 6px 6px;
    cursor: pointer;
}

.reservation__link-btn {
    display: none;
}

.review__link-btn {
    display: block;
    margin: 1.5rem 0;
    color: #000;
}

@media screen and (max-width: 768px) {
    .detail {
        top:80px
    }

    .detail__ttl--link {
        font-size: 18px;
    }

    .detail__ttl--h2 {
        font-size: 24px;
    }

    .detail__img {
        margin: 16px 0;
    }

    .detail__tag {
        margin-bottom: 24px;
        font-size: 14px;
    }

    .detail__overview {
        font-size: 14px;
    }

    .review-detail__btn-box,
    .review-detail__edit-btn {
        font-size: 12px;
    }

    .review-detail__ttl {
        margin-top: 4rem;
    }

    .review__link-btn,
    .review-detail__ttl,
    .review-detail__form,
    .review-detail__cards {
        width:420px;
        height: auto;
    }

    .reservation-form {
        height: 420px;
    }

    .reservation-form__content {
        margin: 16px 16px 0;
        height: 90%;
    }

    .reservation-form__ttl {
        font-size: 24px;
        margin-bottom: 16px;
    }

    .reservation-form__input,
    .reservation-form__select {
        height: 50px;
    }

    .reservation-form__input input,
    .reservation-form__select select {
        font-size: 14px;
        padding: 4px 10px;
    }

    .reservation-form__input input {
        width: 120px;
    }

    .reservation-form__select select {
        width: 140px;
    }

    .reservation-form__select::after {
        left: 115px;
        top: 7px;
        font-size: 14px;
    }

    .reservation-data {
        height: 160px;
    }

    .reservation-data__table {
        width: calc(100% - 24px);
    }

    .reservation-data__table--header,
    .reservation-data__table--text {
        font-size: 14px;
    }

    .reservation-data__table--header {
        width: 70px;
    }

    .reservation-form__submit-btn {
        padding: 10px 0;
        font-size: 14px;
    }
}

@media screen and (max-width: 480px) {
    .reservation-form {
        height: 200px;
    }

    .reservation-form__ttl {
        font-size: 18px;
        margin-bottom: 8px;
    }

    .reservation-data {
        display: none;
    }

    .reservation-form__input,
    .reservation-form__select {
        height: 50px;
    }

    .reservation-form__input input {
        width: 110px;
        font-size: 12px;
        padding: 4px;
    }

    .reservation-form__select select {
        width: 120px;
        font-size: 12px;
        padding: 4px;
    }

    .reservation-form__select::after {
        left: 100px;
    }

    .detail__tag {
        margin-bottom: 16px;
    }

    .detail__overview,
    .review__link-btn,
    .review-detail__ttl,
    .review-detail__form,
    .review-detail__cards {
        width:340px;
        height: auto;
    }
}
