.detail {
    position: absolute;
    top: 100px;
    left: calc(50% - 45vw);
    width: 42%;
}

.reservation-form {
    height: 550px;
    background-color: rgb(48, 93, 255);
    border-radius: 6px;
    position: fixed;
    top: 2rem;
    right: calc(50% - 45vw);
    width: 42%;
    z-index: 1;
}

@media screen and (min-width: 1200px){
    .detail {
        left: calc(50% - 580px);
        width: 560px;
    }

    .reservation-form {
        right: calc(50% - 580px);
        width: 560px;
    }
}

.detail__ttl--link {
    color: black;
    padding: 4px;
    border-radius: 4px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.4);
    margin-right: 10px;
    font-size: 24px;
}

.detail__ttl--h2 {
    font-size: 32px;
}

.detail__img {
    margin: 16px 0 32px;
}

.detail__tag {
    margin-bottom: 32px;
}

.reservation-form__content {
    margin: 24px 32px 0;
    height: 90%;
}

.reservation-form__ttl {
    font-size: 32px;
    color: rgb(255, 255, 255);
    margin-bottom: 24px;
}

.reservation-form__input,
.reservation-form__select {
    height: 60px;
}

.reservation-form__input input,
.reservation-form__select select {
    font-size: 16px;
    padding: 8px 16px;
    appearance: none;
    outline: none;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-family: 'Franklin Gothic Medium';
}

.reservation-form__input input {
    width: 200px;
    font-weight: 600;
}

.reservation-form__select {
    position: relative;
}

.reservation-form__select select {
    width: 230px;
}

.reservation-form__select::after {
    content: "▼";
    position: absolute;
    left: 198px;
    top: 10px;
    pointer-events: none;
    color: #000;
    font-size: 16px;
}

.reservation-form__error {
    font-size: 14px;
    color: tomato;
    display: flex;
    align-items: start;
    padding: 4px;
}

.reservation-data {
    height: 160px;
    width: 100%;
    margin: 0 auto;
    background-color: rgb(77, 127, 255);
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    border-radius: 6px;
}

.reservation-data__table {
    width: calc(100% - 5vw);
    height: 70%;
    margin: 0 auto;
}

.reservation-data__table--inner {
    height: 25%;
    display: flex;
    align-items: center;
}

.reservation-data__table--header,
.reservation-data__table--text {
    text-align: left;
}

.reservation-data__table--header {
    width: 100px;
}

.reservation-form__submit-btn {
    width: 100%;
    border: none;
    padding: 16px 0;
    font-size: 16px;
    background-color: rgb(5, 56, 255);
    color: rgb(255, 255, 255);
    border-radius: 0 0 6px 6px;
    cursor: pointer;
}

.reservation__link-btn {
    display: none;
}

@media screen and (max-width: 768px) {
    .detail {
        top:80px
    }

    .detail__ttl--link {
        font-size: 18px;
    }

    .detail__ttl--h2 {
        font-size: 24px;
    }

    .detail__img {
        margin: 16px 0;
    }

    .detail__tag {
        margin-bottom: 24px;
        font-size: 14px;
    }

    .detail__overview {
        font-size: 14px;
    }

    .reservation-form {
        height: 450px;
    }

    .reservation-form__content {
        margin: 16px 16px 0;
        height: 90%;
    }

    .reservation-form__ttl {
        font-size: 24px;
        margin-bottom: 16px;
    }

    .reservation-form__input,
    .reservation-form__select {
        height: 50px;
    }

    .reservation-form__input input,
    .reservation-form__select select {
        font-size: 14px;
        padding: 4px 10px;
    }

    .reservation-form__input input {
        width: 120px;
    }

    .reservation-form__select select {
        width: 140px;
    }

    .reservation-form__select::after {
        left: 115px;
        top: 7px;
        font-size: 14px;
    }

    .reservation-form__error {
        font-size: 12px;
    }

    .reservation-data {
        height: 160px;
    }

    .reservation-data__table {
        width: calc(100% - 24px);
    }

    .reservation-data__table--header,
    .reservation-data__table--text {
        font-size: 14px;
    }

    .reservation-data__table--header {
        width: 70px;
    }

    .reservation-form__submit-btn {
        padding: 10px 0;
        font-size: 14px;
    }
}

@media screen and (max-width: 480px) {
    .reservation-form {
        height: 200px;
    }

    .reservation-form__ttl {
        font-size: 18px;
        margin-bottom: 8px;
    }

    .reservation-data {
        display: none;
    }

    .reservation-form__input,
    .reservation-form__select {
        height: 50px;
    }

    .reservation-form__input input {
        width: 110px;
        font-size: 12px;
        padding: 4px;
    }

    .reservation-form__select select {
        width: 120px;
        font-size: 12px;
        padding: 4px;
    }

    .reservation-form__select::after {
        left: 100px;
    }

    .reservation-form__error {
        font-size: 9px;
    }

    .detail__tag {
        margin-bottom: 16px;
    }

    .detail__overview {
        width:340px;
        height: auto;
    }
}
