/* 検索、並び替えフォーム */
.content {
    width: calc(100% - 10vw);
    margin: 0 auto;
    margin-top: 24px;
}

.search-box {
    position: fixed;
    top: 24px;
    right: calc(50% - 45vw);
}

@media screen and (min-width: 1200px){
    .content {
        width: calc(100% - 40px);
    }

    .search-box {
        right: calc(50% - 580px);
    }
}

.sort__form {
    width: 130px;
    height: 40px;
    padding-left: 8px;
    border: 1px solid rgb(228,228,228);
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
}

.search__form {
    height: 40px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
}

.search__form--button,
.search__form--select-area,
.search__form--select-genre,
.search__form--input,
.sort__form select {
    height: 80%;
    border-radius: 4px;
    border: none;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    font-size: 14px;
    outline: none;
}

.search__form--select-area,
.search__form--select-genre {
    appearance: none;
    background: url('/images/down.png') no-repeat right center;
    background-size: 14px 14px;
    padding-left: 8px;
}

.sort__form {
    margin-right: 1rem;
}

.sort__form select {
    appearance: none;
    text-align: center;
}

.hidden {
    display: none;
}

.search__form--select-area{
    width: 90px;
}

.search__form--select-genre {
    width: 100px;
}

.search__form--input {
    flex-grow: 1;
    padding-left: 8px;
    width: 140px;
}

.search__form--span {
    height: 100%;
    font-size: 32px;
    color: #EEE;
    font-weight: lighter;
    display: flex;
    align-items: flex-start;
    padding-left: 8px;
}

#search {
    color: #DDD;
    font-size: 14px;
}

@media screen and (max-width: 768px) {
    .search-box {
        height: 100px;
        background-color: #387ADF;
    }

    .search__form--button,
    .search__form--select-area,
    .search__form--select-genre,
    .search__form--input,
    .sort__form select {
        font-size: 13px;
    }

    .sort__form {
        position: absolute;
        top: 0;
        right: 0;
        margin: 0;
    }

    .search__form {
        position: absolute;
        top: 50%;
        right: 0;
    }

    .search__form--select-area{
        width: 80px;
    }

    .search__form--select-genre {
        width: 90px;
    }

    .search__form--input {
        width: 140px;
    }
}

@media screen and (max-width: 480px) {
    .search__form--input {
        width: 100px;
    }
}

/* shop一覧画面 */
.cards {
    margin-top: 90px;
    margin-bottom: 40px;
}

.cards__grid-parent {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
}

.practice__card {
    width: 100%;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
    border-radius: 6px;
    background-color: rgb(255, 255, 255);
}

.card__img {
    width: 100%;
    height: auto;
    border-radius: 6px 6px 0 0;
}

.card__article {
    width: calc(100% - 8%);
    margin: auto;
}

.card__ttl {
    margin-top: 20px;
    font-size: 18px;
}

.card__tag {
    padding: 14px 0;
    font-size: 14px;
}

.card__button {
    margin-bottom: 20px;
}

.card__button--link {
    background-color: #387ADF;
    color: #F2F2F2;
    padding: 8px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.4);
    text-decoration: none;
    font-size: 16px;
}

#heart {
    font-size: 28px;
    cursor: pointer;
}

.heart_false i {
    color: #DDD;
}

.heart_true i {
    color: #FF0000;
}

@media screen and (max-width: 768px) {
    .cards {
        margin-top: 140px;
    }

    .cards__grid-parent {
        grid-template-columns: 1fr 1fr 1fr;
        gap: 8px;
    }

    .card__ttl {
        margin-top: 16px;
        font-size: 16px;
    }

    .card__tag {
        padding: 12px 0;
        font-size: 12px;
    }

    .card__button {
        margin-bottom: 16px;
    }

    .card__button--link {
        padding: 4px;
        font-size: 14px;
    }

    #heart {
        font-size: 24px;
    }

}

@media screen and (max-width: 480px) {
    .cards__grid-parent {
        grid-template-columns: 1fr 1fr;
    }

    .card__ttl {
        margin-top: 12px;
    }

    .card__tag {
        padding: 8px 0;
    }

    .card__button {
        margin-bottom: 12px;
    }
}
