.mypage__login-name {
    font-size: 32px;
    font-weight: bold;
    margin-top: 28px;
    margin-left: 200px;
}

.container {
    width: calc(100% - 10vw);
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 100px;
}

@media screen and (min-width: 1200px){
    .container {
        width: calc(100% - 40px);
    }
}

.reservation-status {
    width: 40%;
    min-width: 230px;
    margin-right: 40px;
}

.reservation-status__ttl {
    font-size: 24px;
    font-weight: bold;
    height: 1em;
}

.reservation-status__ttl--link {
    font-size: 14px;
    font-weight: normal;
    margin-left: 8px;
}

.reservation-status__ttl--link a {
    font-weight: bold;
    text-decoration: none;
    color: #387ADF;
}

.reservation-status__ttl--link a:hover {
    background-color: #387ADF;
    color: #fff;
}

.reservation-status__detail {
    background-color: #387ADF;
    color: rgb(255, 255, 255);
    margin-bottom: 20px;
    padding: 10% 10% 5%;
    border-radius: 6px;
}

.reservation-status__detail--header {
    font-size: 20px;
    margin-bottom: 1rem;
}

.reservation-status__detail--header-update-button,
.reservation-status__detail--header-delete-button-submit {
    border: none;
    cursor: pointer;
    background-color: #387ADF;
    color: #F2F2F2;
    font-size: 20px;
}

.reservation-status__detail--header-update-button:hover,
.reservation-status__detail--header-delete-button-submit:hover {
    font-size: 22px;
}

.reservation-status__table {
    width: 100%;
}

.reservation-status__table--header,
.reservation-status__table--text {
    font-size: 16px;
    padding: .5rem;
    text-align: left;
}

.reservation-status__table--header {
    width: 35%;
}

.statusModal {
    display: none;
    width: 240px;
    height: 220px;
    background-color: #387ADF;
    color: rgb(255, 255, 255);
    position: fixed;
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
    margin: auto;
    box-shadow: 0 0 0 9999px rgba(0, 0, 0, .8);
    border-radius: 6px;
    z-index: 50;
}

.statusModal__toggle:checked+.statusModal {
    display: block;
    padding: 10px;
    box-sizing: border-box;
}

.statusModal__button--open {
    font-size: 14px;
    display: block;
    text-align: center;
    cursor: pointer;
    padding: 0.5em 0;
    border-radius: 4px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
}

.statusModal__button--open:hover,
.favorite-shop__detail-btn:hover {
    background-color: #fff;
    color: #387ADF;
    font-weight: 600;
}

.statusModal__toggle {
    display: none;
}

.statusModal__button--close {
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
    color: rgb(255, 255, 255);
    font-size: 24px;
}

.statusModal__qr {
    display: flex;
    justify-content: center;
    margin: 10px;
}

.statusModal__pay--amountGroup,
.statusModal__pay--text {
    display: flex;
    align-items: center;
    justify-content: center;
}

.statusModal__pay--amountGroup p {
    width: 80px;
    font-size: 16px;
    margin-left: 4px;
}

.favorite-shop__detail {
    width: 55%;
}
.favorite-shop__card {
    width: 160px;
    height: 250x;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.4);
    border-radius: 5px;
}

.favorite-shop__ttl {
    font-size: 24px;
    font-weight: bold;
}

.favorite-shop__card--img {
    width: 100%;
    max-height: 150px;
    border-radius: 5px 5px 0 0;
}

.favorite-shop__card--article {
    padding: 4px;
    background-color: #fff;
}

.favorite-shop__card--article {
    width: calc(100% - 5%);
    margin: 0 auto;
}

.favorite-shop__card--shop-name {
    font-size: 16px;
    width: 100%;
    margin-bottom: 8px;
    border: none;
}

.favorite-shop__card--tag {
    font-size: 12px;
    width: 100%;
    margin-bottom: 8px;
}

.favorite-shop__detail-btn {
    background-color: #387ADF;
    color: rgb(255, 255, 255);
    cursor: pointer;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.4);
    text-decoration: none;
    font-size: 12px;
    padding: .25rem;
    border-radius: 5px;
}

#heart {
    font-size: 20px;
    cursor: pointer;
}

#heart:hover {
    font-size: 22px;
}

.heart_false i {
    color: #DDD;
}

.heart_true i {
    color: #FF0000;
}

@media screen and (max-width: 480px) {
    .mypage__login-name {
        font-size: 18px;
    }

    .reservation-status {
        min-width: 150px;
        margin-right: 20px;
    }

    .reservation-status__ttl {
        font-size: 14px;
        flex-direction: column;
        margin-bottom: 1rem;
    }

    .reservation-status__ttl--link {
        font-size: 12px;
    }

    .reservation-status__table--header,
    .reservation-status__table--text {
        font-size: 12px;
        padding: .25rem;
    }

    .favorite-shop__ttl {
        font-size: 16px;
    }

    .favorite-shop__card {
        width: 150px;
    }

}
